{% extends 'home/base.html' %}

{% block content %}
<p>
  In this website you can find my blog site and cv.
</p>
<div class="footer">
    <div class="">
        <a class="highlighted" href="/"> Home |</a>
        <a href="/blog/"> My Blog  |  </a>
        <a href="/cv/">Curriculum Vitae(CV)</a>
    </div>
    <div class="">
        Copyright &copy;
        <script type="text/JavaScript">
          document.write(new Date().getFullYear());
        </script> About
    </div>
</div>

{% endblock %}
