{% load static %}
<html>
    <head>
        <title>Contacts</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    </head>
    <body>
      <div class="page-header">
        <hr>
          <h3>
            <a class="highlighted" href="/"> |Home</a>
            <a  href="/blog/"  > |Personal Blog </a>
            <a href="/cv/" >|Curriculum Vitae(CV) | </a>
            <a href="/admin/"  >Login as Admin | </a>
          </h3>
        <hr>
      </div>
      <div class="nav_right">
        <nav>
        <a href="/"> Home</a>
        </nav>
        <nav>
       <a href="/about/" > About </a>
        </nav>
        <nav>
        <a href="/contact/" > Contact </a>
        </nav>
      </div>

      <div id="sidebar">
        <div class="toggle-btn" onclick="toggleSidebar()">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul>
          <li>Home</li>
          <li>About</li>
          <li>Contacts</li>
        </ul>

      </div>

      <div class="content">

       <div class="content container">
               {% block content %}
               {% endblock %}
       </div>

      <div class="foot">
        <footer id="footer">
          <h5>
            <a class="highlighted" href="/"> Home |</a>
            <a href="/blog/"> Personal Blog |  </a>
            <a href="/cv/">Curriculum Vitae(CV) |</a>
            <a href="/admin/">Login as Admin </a>
          </h5>
          Copyright &copy;
          <script type="text/JavaScript">
          document.write(new Date().getFullYear());
          </script> My Website
         </footer>

       </div>
         </div>
         <script type="text/javascript">
           function toggleSidebar() {
             document.getElementById("sidebar").classList.toggle('active');
           }
         </script>
    </body>
</html>
