{% extends 'home/base.html' %}

{% block content %}
<p>
 You can reach me out either:
 </p>
 <p>
   Email:soltesfa1@gmail.com
 </p>
 <p>
   Phone:07956220995
 </p>

  <div class="footer">
  <div class="">
  <a  href="/"> Home |</a>
  <a href="/blog/"> Personal Blog |  </a>
  <a href="/cv/">Curriculum Vitae(CV) |</a>
  <a href="/admin/">Login as Admin </a>
  </div>
  <div class="">
  Copyright &copy;
  <script type="text/JavaScript">
  document.write(new Date().getFullYear());
  </script> Contact
  </div>
  </div>

  {% endblock %}
