
.page-header {
    background-color: brown;
    margin-top: 0;
    padding: 2px 0px 0px 40px;
    text-align: center;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
     text-align: center;
}
.highlighted {

    color: blue;
 }
.content_container {
    margin-left: 150px;
}
body {
    font-size: 15px;

}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;

}
h1 a, h2 a {
    color: #C25100;
}
.cv-form textarea, .cv-form input {
    width: 100%;
    }

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.cv {
    margin-bottom: 70px;
    font-size: 15pt;
}

.cv h2 a, .cv h2 a:visited {
    color: #000000;
}

body {
   background-color: #E0E0E0;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
   font-size: 0.9em;
   text-align: justify;
   color: #474747;
}

.footer {
   position: fixed;
   margin-top: 10px;
   left: 0;
   font-size: 14px;
   bottom: 0;
   width: 100%;
   border-top: thin solid #BBBBBB;
   text-align: center;
}
