<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Tesfahun blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="icon" type="image/JPG" href="{% static 'css/favicon.JPG' %}">
    </head>
    <body>
        <div class="page-header">
          {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" target="_blank" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <a href="{% url 'post_draft_list' %}" target="_blank" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
          {% endif %}
          <hr>
          <h1><a href="/" target="_blank">Personal Blogs</a></h1>
            <h3>
              <a href="/"> Home</a>
              <a class="highlighted" href="/blog/" > |Personal Blog </a>
              <a href="/cv/" >|Curriculum Vitae(CV) | </a>
              <a href="/admin/"  >Login as Admin  </a>
           </h3>
           <hr>
        </div>
        <div class="content container">
                {% block content %}
                {% endblock %}
        </div>
        <div class="footer">
        <div class="">
          <a href="/"> Home |</a>
          <a class="highlighted"  href="/blog/"> Personal Blog |  </a>
          <a href="/cv/">Curriculum Vitae(CV) |</a>
          <a href="/admin/">Login as Admin </a>
        </div>
        <div class="">
          Copyright &copy;
          <script type="text/JavaScript">
          document.write(new Date().getFullYear());
          </script> My Blog
        </div>
        </div>
        <!-- <div class="">
          <footer id="footer">
            <h5>
              <a href="/"> Home |</a>
              <a class="highlighted"  href="/blog/"> Personal Blog |  </a>
              <a href="/cv/">    Curriculum Vitae(CV) |   </a>
              <a href="/admin/">Login as Admin </a>
            </h5>
            Copyright &copy;
            <script type="text/JavaScript">
              document.write(new Date().getFullYear());
            </script> My Blog
          </footer>
        </div> -->
    </body>
</html>
