<html>
    <head>
        <title>Tesfahun blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Tesfahun Blog</a></h1>
        </div>

        <div>
            <p>published: 20.05.2020, 19:17</p>
            <h2><a href="">My first post</a></h2>
            <p>This is my first post in this web page.</p>
        </div>

        <div>
            <p>published: 20.05.2020, 19:18</p>
            <h2><a href="">My second post</a></h2>
            <p>This is my second post in this page.</p>
        </div>
    </body>
</html>