.page-header {
    background-color: #5D564E;
    margin-top: 0;
    padding: 20px 20px 0px 40px;
     text-align: center;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    text-align: center;
}
.content {
  float :left;
  /* background-color: gray; */
  width:50%;
  height:280px;

}
.nav_right {
  float :right;
  /* background-color: red; */
  width:10%;
  height:280px;
  padding: 10px;
  font-size: 14pt;
  color: blue;
  text-decoration: underline;
}
.toggle-btn {

}
. {
  margin:0px;
  padding: 0px;
  font-family: sans-serif;

}
#sidebar {
  position: fixed;
  width:200px
  height:100%
  left: -200px;
  transition: all 500ms linear;
}
#sidebar .active {
  left: 0px;

}
#sidebar ui li {
  color: red;
  list-style: none;
  padding: 15px 10px ;
  border-bottom: 1px solid blue;
}
.content {
    margin-left: 40px;
}
.highlighted{
    color: blue;
 }
 #sidebar .toggle-btn {
   position: absolute;
   left: 230px ;
   top: 20px;

 }
 #sidebar .toggle-btn span {
   display: block;
   width: 30px;
   height:5px;
   background: black;
   margin: 3px 0px


 }
body {
    padding-left: 15px;
    /* background-color: #E0E0E0; */
    background-color: #00000;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 0.9em;
    text-align: justify;
}

 h2, h3, h4,h5 {
    font-family: 'Lobster', cursive;
     text-align: center;
}
h1 a, h2 a {
    /* color: #C25100; */
     text-align: center;
}
h1 {
  font-family: 'Lobster', cursive;
   text-align: center;
}

p {
   text-align: center;
   font-size: 13px
}


.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}


video {
  display: block;
  margin: auto;
  color: blue;
  margin-bottom: 20px;
}
h1 {
   color: #270c39;
}
#footer {
   text-align: center;
   font-size: 0.8em;
   padding-top: 10px;
   padding-bottom: 10px;
   /* background-color: #FFFFFF; */
   border-top: thin solid #BBBBBB;
   clear: both;
   /* color: #969696; */
   /* background-color: gray */
}
