
.content-container {
  float :middle;
  /* background-color: gray; */
   width:80%;
   height:280px;
   margin-left: 40px;
}
.nav_right {
  float :right;
  background-color: #bfd0da;
  width:10%;
  height:646px;
  padding: 10px;
  font-size: 14pt;
  color: blue;
  text-decoration: underline;
}
.nav_left {
  float :left;
  background-color:#44553c ;
  width:10%;
  height:646px;
  padding: 10px;
  font-size: 14pt;

  color: red;
  text-decoration: underline;
}
.footer {
   position: fixed;
   margin-top: 10px;
   left: 0;
   bottom: 0;
   width: 100%;
   /* border-top: thin solid #BBBBBB; */
   text-align: center;
}

.highlighted{
    color: blue;
 }
 .menu-button{
   border:none;
   display:inline-block;
   padding:10px 16px;
   vertical-align:middle;
   overflow:hidden;
   text-decoration:none;
   color:inherit;
   background-color:inherit;
   text-align:center;
   cursor:pointer;
   white-space:nowrap
 }
 .menu-teal{
   color:#fff!important;
   background-color:#000!important

 }
 .menu-sidebar{
   height:100%;
   width:100px;
   background-color:#bfd0da;
   position:fixed!important;
   z-index:1;
   overflow:auto
 }
body {
    padding-left: 15px;
    /* background-color: #698701; */
    background-color: #00000;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    /* font-size: 0.9em; */
    text-align: justify;
}

 h2, h3, h4,h5 {
    font-family: 'Lobster', cursive;
     text-align: center;
}
h1 a, h2 a {
    /* color: #C25100; */
    color: #C25100;
     text-align: center;
}
h1 {
  font-family: 'Lobster', cursive;
   text-align: center;
   color: #270c39;
}

p {
   text-align: center;
   font-size: 13px
}

video {
  display: block;
  margin: auto;
  color: blue;
  margin-bottom: 100px;
}
